  .center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  table tr td{
    color:black;
    background: white;
    border: 1px;
  }

  th{
    color:black;
    background: white;
  }

  table tr:nth-child(2n+1) td{
      background: rgb(231, 228, 228);
  }

  table.collapsed{
      border-collapse: collapse;
      border:1px solid black;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
    text-align: left;
    background-color: #e2e6e9;
    box-sizing: border-box;
    padding: 10px;
    z-index: 100;
    border-radius: 25px;
    display: none;
    /*to hide popup initially*/
  }
  .content_edit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
    text-align: left;
    background-color: #e2e6e9;
    box-sizing: border-box;
    padding: 10px;
    z-index: 100;
    border-radius: 25px;
    display: none;
    /*to hide popup initially*/
}
.content_add {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
    text-align: left;
    background-color: #e2e6e9;
    box-sizing: border-box;
    padding: 10px;
    z-index: 100;
    border-radius: 25px;
    display: none;
    /*to hide popup initially*/
}
.close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 4px;
}

.form_input_field {
    padding: 2px;
    margin: 6px 0;
    border-radius: 4px;
}

.dividendlist {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    /*height: 300px;*/
    text-align: left;
    background-color: #e2e6e9;
    box-sizing: border-box;
    padding: 23px;
    z-index: 100;
    border-radius: 25px;
    display: none;
    /*to hide popup initially*/
}

.tooltip-message {
    background-color: #f44336;
    color: white;
    padding: 5px 8px;
    border-radius: 4px;
    position: absolute;
    font-size: 12px;
    margin-top: 2px;
    z-index: 100;
}
.input-group {
    position: relative;
    display: inline-block;
}