<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My App{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- login -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <!-- login -->

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">

    <script type="text/javascript">
      let inactivityTime = function () {

        let time;

        window.onload = resetTimer;
        document.onmousemove = resetTimer;
        document.onkeypress = resetTimer;
        document.onscroll = resetTimer;
        document.onclick = resetTimer;

        function logout() {
            window.location.href = "/logout";
        }

        function resetTimer() {
            clearTimeout(time);
            time = setTimeout(logout, 1 * 60 * 1000); // 10 minutes
            console.log('inactivityTime '+time);
        }
      };

      inactivityTime();
      // Function to show and hide the popup for class "content"
      function togglePopup() {
          $(".content").toggle();
      }

      function toggleDivPopup(for_year=0, for_month=1, symbol='') {
        if (for_year == 0){
          for_year = getCurrentYear();
        }
        else{
          $("#form_div_year").attr('readonly', true);
        }

        $("#form_div_year").val(for_year);
        $("#form_div_month").val(for_month);

        if (symbol.length !=0 )
        {
          $("#form_div_symbol").val(symbol);
          $("#form_div_symbol").attr('readonly', true);
        }
        $(".content").toggle();
      }

      function getCurrentYear(){
        const d = new Date();
        return  d.getFullYear();
      }

      function clear_err_msg(){
        $("#errmsg").html('');
      }

      function isNumericWithDot(event, withDot = false) {
        const charCode = event.charCode || event.keyCode;

        if ((charCode >= 48 && charCode <= 57) || charCode === 46) {
          if (charCode === 46 && event.target.value.includes('.')) {
              return false;
          }
          return true;
    }
    return false;
}
    </script>

    <style>
    </style>
</head>
<body>

  {% include 'navbar.html' %}

  <div class="container mt-4">
      {% block content %}{% endblock %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>