{% set linkstatus='active'%}
{% extends "base.html"%}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <!-- dashboard  -->
  <div style="position: absolute;top: 30%; left: 30%;">
  <p> You are in my application...</p>
  <p> Step one: difine portfolio (just select the portfolio name)</p>
  <p> Step two: add quotes... pay attention that portfolio quotes are shown for year...</p>
  <p> Step three: add dividends payed for portfolio year...( month without dividend should stay with 0.0 price value)</p>
  </div>
  <!-- dashboard  -->
{% endblock %}