{% set linkstatus='active'%}
{% extends "base.html"%}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <!-- dashboard  -->
  <div style="position: absolute;top: 30%; left: 30%;">
  <p> Hey!! You are in my application...</p>

  <p> Step one: (in menu: <a  href="/portfolio"> To portfolio</a>) define portfolio (just select the portfolio name)</p>
  <p> Step two: add quotes to portfolio... pay attention, that portfolio quotes are shown for year...</p>
  <p> &nbsp;&nbsp;(Only for 2025 year, Only for  2024 year...)</p>
  <p> Step three: (in menu: <a  href="/quotedividents">To dividend information</a>) add dividends payed for Quote in this  year...</p>
  <p> &nbsp;&nbsp; (month without dividend should stay with 0.0 price value)</p>
  </div>
  <!-- dashboard  -->
{% endblock %}