{% extends "base.html" %}

{% block title %} Quote List {% endblock %}

{% block content %}

<script type="text/javascript">
  function refreshQuotes(){

    let refresh = $('.refresh');
    let refreshTxt = refresh.html();
    refresh.html('wait...refresh started')
    refresh.removeClass('btn-primary');
    refresh.addClass("btn-warning").prop("disabled", true);


    $.ajax({
      url: "/refresh_stocks",
      method: "POST",
      success: function (response) {
        console.log("refrefreshed", response);
        window.location.href = "/symbols";

        refresh.removeClass("btn-warning");
        refresh.addClass("btn-primary").prop("disabled", false);
        refresh.html(refreshTxt);
      },
      error: function () {
        console.log("Failed to refresh prices");

        refresh.html(refreshTxt);
        refresh.removeClass("btn-warning");
        refresh.addClass("btn-primary").prop("disabled", false);
      }});
  };

  function ChangeClosePrice(id, sendButtonId){

    let newPrice = $('#closeprice_symbol_'+ sendButtonId).val();
    let id_quote_price = id.replace('closeprice_symbol_', '');
    let quote_and_price = id_quote_price.replace('_', '/');

    if ( newPrice * 1 == 0 || quote_and_price.split('/')[0] == ''){
      return alert("Failed to update Close Price");
    }

    $.ajax({
      url: "/editquotecloseprice/"+quote_and_price +"/"+newPrice,
      method: "POST",
      success: function (response) {
        console.log("Close Price Update ", response);

        if (response != 'successfully')
          return alert("Failed to update Close Price");

        $('#sendButton' + sendButtonId).hide();

      },
      error: function () {
        alert("Failed to update Close Price");
      }});
  }
  $(document).ready(function () {
    $("input[id^='closeprice_symbol_']").on("input", function () {
      // Get the numeric suffix from input id
      let suffix =$(this).attr('buttonid')
      // Show corresponding button
      $('#sendButton' + suffix).show();
    });
  });
</script>
  <!-- your portfolio list  here -->
  <div class="container mt-5">
    <div class="d-flex justify-content-center">
      <h2> Quote List</h2>
    </div>

    <div  class="center">
    <table id = "data" class="center">
      <thead>
        <tr>
          <th>Id</th>
          <th>&nbsp;Quote Name&nbsp; </th>
          <th>&nbsp;Quote Price&nbsp; </th>
          <th>&nbsp;For Date&nbsp; </th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>

        </tr>
      </thead>
      <tbody>

        {% set ns = namespace(sendButtonId=1) %}
        {% for entry in symbols %}

          <tr>
            <td>{{ entry[0]}}</td>
            <td>{{ entry[1] }}</td>

            {% if entry[3]*1 != 0 and entry[4] != '' %}
              <td>{{entry[3]}}</td>
            {% else %}
              {% set close_price_at_date = "%s_%s" % (entry[1], entry[4])  %}
              <td>
                <input id="closeprice_symbol_{{ns.sendButtonId}}" value="{{entry[3]}}" buttonid="{{ns.sendButtonId}}" maxlength="8" size="8">
                <button id="sendButton{{ns.sendButtonId}}" style="display: none;" onclick="ChangeClosePrice('closeprice_symbol_{{close_price_at_date}}', {{ns.sendButtonId}})">Send</button>
              </td>
            {% endif %}

            <td>{{entry[4]}}</td>
            <td> <a href="/quotedividents/{{ entry[1] }}"> &nbsp; To Dividends &nbsp;&nbsp;</a> </td>

            <td>
              {% if entry[2] == 'not_used' %}
              <a href="/deletesymbol/{{ entry[1] }}"> &nbsp; Delete Quote &nbsp;&nbsp;</a>
              {% else %}
                 &nbsp;
              {% endif %}
            </td>

            <td> <a href="/importquotedividents/{{ entry[1] }}"> &nbsp; Import Quote Dividends &nbsp;</a> </td>
          </tr>
        {% set ns.sendButtonId = ns.sendButtonId+1 %}
        {% endfor %}
      </tbody>
      </table>
      <button onclick ="refreshQuotes();" class="refresh btn btn-primary w-30 mt-3">Refresh quote prices</button>
    </div>
  </div>
{% endblock %}