{% extends "base.html" %}

{% block title %} Quote List {% endblock %}

{% block content %}
<script>
  function refreshQuotes(){

    let refresh = $('.refresh');
    let refreshTxt = refresh.html();
    refresh.html('wait...refresh started')
    refresh.removeClass('btn-primary');
    refresh.addClass("btn-warning").prop("disabled", true);


    $.ajax({
      url: "/refresh_stocks",
      method: "POST",
      success: function (response) {
        console.log("refrefreshed", response);
        window.location.href = "/symbols";

        refresh.removeClass("btn-warning");
        refresh.addClass("btn-primary").prop("disabled", false);
        refresh.html(refreshTxt);
      },
      error: function () {
        console.log("Failed to refresh prices");

        refresh.html(refreshTxt);
        refresh.removeClass("btn-warning");
        refresh.addClass("btn-primary").prop("disabled", false);
      }});
  };
</script>
  <!-- your portfolio list  here -->
  <div class="container mt-5">
    <div class="d-flex justify-content-center">
      <h2> Quote List</h2>
    </div>

    <div  class="center">
    <table id = "data" class="center">
      <thead>
        <tr>
          <th>Id</th>
          <th>&nbsp;Quote Name&nbsp; </th>
          <th>&nbsp;Quote Price&nbsp; </th>
          <th>&nbsp;For Date&nbsp; </th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>

        </tr>
      </thead>
      <tbody>
        {% for entry in symbols %}
          <tr>
            <td>{{ entry[0]}}</td>
            <td>{{ entry[1] }}</td>
            <td>{{entry[3]}}</td>
            <td>{{entry[4]}}</td>
            <td> <a href="/quotedividents/{{ entry[1] }}"> &nbsp; To Dividends &nbsp;&nbsp;</a> </td>

            <td>
              {% if entry[2] == 'not_used' %}
              <a href="/deletesymbol/{{ entry[1] }}"> &nbsp; Delete Quote &nbsp;&nbsp;</a>
              {% else %}
                 &nbsp;
              {% endif %}
            </td>

            <td> <a href="/importquotedividents/{{ entry[1] }}"> &nbsp; Import Quote Dividends &nbsp;</a> </td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
      <button onclick ="refreshQuotes();" class="refresh btn btn-primary w-30 mt-3">Refresh quote prices</button>
    </div>
  </div>
{% endblock %}